.nav1{
    font-family: $primary-font;

}
// .nav2{

// }
.active{
    color: $primary-color;
    font-size: 20px;
    font-weight: $secondary-weight;
}
.nav2items{
    color: $secondary-color;;
    font-size: $primary-size;
    font-weight: $primary-weight;

}









// .navigation {
//     height: 70px;
//     width: 1000px;
//     background: red;
//   }
// .brand {
//     position: absolute;
//     padding-left: 20px;
//     float: left;
//     text-transform: uppercase;
//     font-size: 1.4em;
//     a,
//     a:visited {
//       text-decoration: none;
//     }
//   }
  
//   // Container with no padding for navbar
//   .nav-container {
//     margin: 0 auto;
//   }
  
//   // Navigation 
//   nav {
//     float: right;
//     ul {
//       list-style: none;
//       margin: 0;
//       padding: 0;
//       li {
//         float: left;
//         position: relative;
//         a,
//         a:visited {
//           display: block;
//           padding: 0 20px;
//           text-decoration: none;
//           &:hover {
          
//           }
//           &:not(:only-child):after {
//             padding-left: 4px;
//             content: ' ▾';
//           }
//         } // Dropdown list
//         ul li {
//           min-width: 190px;
//           a {
//             padding: 15px;
//             line-height: 20px;
//           }
//         }
//       }
//     }
//   }
  
