//fonts
$primary-font:'Montserrat', sans-seriff;
$secondary-font: 'Merriweather', serif;
//weight
$primary-weight: 400;
$secondary-weight:700;
//colors
$primary-color:rgb(0,0,0);
$secondary-color:rgb(204, 204, 204);
$tertiary-color:rgb(82, 214, 129);
$quaternary-color:rgb(109, 106, 106 );
$primary-size:13px;
