//fonts
$primary-font:'Montserrat', sans-seriff;
$secondary-font: 'Lora', serif;
$tertiary-font: 'Playfair Display', serif;
//weight
$primary-weight: 400;
$secondary-weight:700;
//colors
$primary-color:rgba(0,0,0);
$secondary-color:rgba(204, 204, 204);
$tertiary-color:rgb(82, 214, 129);
$quaternary-color:rgba(109, 106, 106 );

