*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// .worksection{

// }
.worktext{
    justify-items: center;
    justify-content: center;
    
    color: red;

}
.workphotos{
    p{
        color: $secondary-color;
    }
}